* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    
}

#encabezado {
    padding: 1.2em;
    color: white;
    display: flex;
    background-color: rgb(21, 57, 126);
}

.ventana{
    background-color: rgb(140, 166, 214);
}

.datos {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    font-size: .9em;
}

.registrosHechos {
    flex-flow: row wrap;
    padding: 10px;
}

.registrosHechos h2 {
    text-align: center;
}

.registrosHechos1 {
    display: flex;
    background-color: rgb(140, 166, 214);
}

.registrosHechos2 {
    display: flex;
    background-color: rgb(140, 166, 214);
    padding: 1.5%;
}

.regisProm {
    display: flex;
    justify-content: center;
    background-color: rgb(21, 57, 126);
    padding: 1.2em;
    color: white;
}

.boton{
    background-color: #0B2162;
    color: white;
    border: none;
    font-weight: bold;
    padding: .8em;
    font-size: .9em;
    border-radius: 5px;
    text-align: center;
}

.boton:hover{
    background-color: rgb(146, 138, 224);
    color: black;
    cursor: pointer;
}

#pie {
    padding: 20px;
    display: flex;
    background-color: rgb(140, 166, 214);
    text-align: center;
}